.adv-search{
    div, input{
        display: flex;
        align-content: center;
        height: 20px;
    }    
}

.date-options{
    display: flex;
    flex-direction: column;
}

.date-filter{
    display: flex;
    flex-direction: column;
}