.Header {
  display: flex;
  background-color: blue;
  height: 9em;
  width: 100vw;
  opacity: 0.6;
}
// .BlueBar {
//     background-color: blue;
//     height: 9em;
//     width: 100vw;
//     opacity: .6;
// }
.AppName {
  color: white;
  position: relative;
  top: 0.5em;
  left: 1em;
  font-size: 35px;
}
.logout {
  color: white;
  position: relative;
  top: 2%;
  left: 90%;
}
.search {
  color: white;
  font-size: 30px;
  position: relative;
  top: 30%;
  left: 60%;
}
