.Header {
    display: flex;
    background-color: blue;
    height: 9em;
    width: 100vw;
    opacity: .6;
}
// .BlueBar {
//     background-color: blue;
//     height: 9em;
//     width: 100vw;
//     opacity: .6;
// }
.AppName {
    color: white;
    position: relative;
    top: .5em;
    left: 2em;
    font-size: 35px;
}
.logout {
    color: white;
    position: relative;
    left: 80vw;
}