.BG {
    position: fixed;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -2;

}

.advanceSearch {
    position: absolute;
    right:0;
    z-index: 2;
    background-color: white;
    width:15%;
    height: 100vh;
}

