.display {
    background-color: white;
    position: absolute;
    top:18%;
    left:30vw;
    width: 65vw;
    height: 80%;
}
.contents {
    width: 100%;
    height: 97%;
}
.CellInventory {
    position: relative;
    margin-right: 0;
    width: 80%;
    top: 2%;
    left: 4%;
}
.category {
    position: relative;
    top: 2%;
    left: 4%;
}